:root {
  background-color: #000000;
}

  .widgets-container {
    width: 84.5%;
    padding-top: 15px; 
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 150px;
  }

  .widgets {
    width:370px;
    height: 237px;
    background-color: #63048500;
    border-radius: 15px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-right: 5px;
  }

.widgets:hover {
  transform: scale(1.05);
  box-shadow: rgba(147, 37, 194, 0.8) 0px 0px 20px 10px; 
}

.cityName {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.temperature{
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-top: -90px;
  margin-left: 75px;
  font-family: 'Roboto', sans-serif;
}

.weatherIcon{
  margin-top: 70px;
  margin-left: 55px;
}
